PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=database_name

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9201
# ELASTICSEARCH_USERNAME=changeme
# ELASTICSEARCH_PASSWORD=pass
